*{margin: 0;padding: 0 ;}

body{
    background: url(../img/slide.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 16px;
}


a{ text-decoration:none;}

a:hover{ text-decoration:none;}

ul{list-style:none;}

.bg-theme {
     background-image:linear-gradient(to right, #ff934b 0%, #ff5e62 100%)
}
.bg-theme1 {
    background-image: linear-gradient(135deg, #0cc5b7 0%, #2bd891 100%);
}

img{
    border-radius: 1rem;
    width: 100%;
}

.item-title{
    text-transform: capitalize;
    margin: 2rem 0;
}

.space-sec {
    margin-top: 3rem;
}

.carousel-item{
    transition: transform 0.6s ease, -webkit-transform 0.6s ease
}
/* 媒体查询 */









/* 导航栏 */
.catalog{
    /* color: #fff;  */
    position: absolute;
    z-index: 2;
    margin-top:5%;
    width: 100%;

}



/* 轮播图 */
.banner{
   position: relative;
   z-index: 0;
}


.banner1{
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}

.banner2{
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}

.carousel-indicators li{
    width:1rem;height:1rem;
    border-radius: 50%;
    background-color:#fff;
    margin-left:0.2rem;
    margin-right:0.2rem;
}


.carousel-indicators .active{
    background-color:  #ff924c;
}

.content{
    width: 60%;
    position: absolute;
    left: 20%;

}

.home_content{
   
    padding: 18vw 10px 15vw;
    /* position: absolute; */
    z-index: 1;
    background-color: rgba(0, 20, 0, 0.3);
}

.home_content .box{
    width: 600px;
    text-align:left;
    color: #fff;
    flex-wrap: wrap;

}

.home_content .box .btn{
    background-image: linear-gradient(135deg, #0cc5b7 0%, #2bd891 100%);
    border: 0;
    border-radius: 2rem;
    color: #000;
    padding: 1rem 1.5rem;
    font-weight: 650;

}
.home_content .box a:hover{
    color: #fff;
}


/* about */

.about{
    background: #fff ;
}

.about::before{
    height: 80px;
    display: block;
    content: "";
}

.about::after{
    height: 80px;
    display: block;
    content: "";
}

.top_name{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2.3em;
    color: #ff725a;
    margin-bottom: 15px;
    text-align: center;
}


span.title-line:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #000;
    border: 3px solid #fff;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -7px;
    left: 48%;
}


span.title-line{
    border: 1px solid #0cc5b7;
    height: 1px;
    display: block;
    width: 200px;
    margin: 1em auto 0;
    position: relative;
    font-size:1em;
}

.about-icon-w3 i{
    font-size: 2em;
    color: #0cc5b7;
}

.about .box{
    padding: 2em;

}
.about .box p{
    line-height: 1.8;
    margin-top: 1em;
    color: #000;
    letter-spacing: 0.5px;
    padding: 0 5px;
}

.about .box_1{
    margin-top: 13em;
}

.about-icon-w3{
    margin-bottom: 1.5em;
    color:  #0cc5b7;
}

.about_img{
    position: absolute;
    top: 36%;
    width: 26%;
    left: 38%;
}

.about_img img{
    border-radius: 50%;
    width: 100%
}

/* <!-- slide --> */

.slide_con{
    padding:8em 5em;
    color: #fff;  
}

.slide_bg{
    background-image: url(../img/slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* team */
.trem-text{
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    left: 10%;
    top: 80%
}

.min-height{
    min-height: 50vh
}

 .about li {
    background-color: #0cc5b7;
}


/* stats */
.stats{
    background: rgba(13, 17, 18, 0.61);
    z-index: -1;
}

.counter i {
    font-size: 2em;
    color: #0cc5b7;
}

.timer {
    font-size: 3em;
    font-weight: 600;
}
p.count-text {
    letter-spacing: 1px;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* < !-- services --> */
.ser_pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: #e3e8e8;
}

.ser_pic i {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    background: #ff725a;
    color: #e3e8e8;
    line-height: 170px;
    font-size: 4em;
    box-shadow: 1px 15px 17px 0px rgba(180, 167, 167, 0.78);
    border-radius: 50%;
}

.ser_msg .btn{
    border: 0;
    border-radius: 2rem;
    color: #000;
    padding: 0.5rem 1rem;
    font-weight: 650;
}

/* blog */
.blog-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 41px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 50%;
    bottom: -20px;
    color: #fff;
    right: 10px;
    border: 5px solid #fff; 
}

.card-body{
    background: rgba(255, 113, 89, 0.14);

}
.card-body::after{
    content: "";
    display: block;
    height: 60px;
}

.card-body .btn{
    float: right;
    background: rgba(255, 113, 89, 0.14);
}

/* slide-bottom */
#slide_bottom .slide_con{
    height: 50vh;
    padding: 48px 15px;
}

#slide_bottom{
    background: url(../img/stat.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

#slide_bottom:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact p {
    letter-spacing: 1px;
    width: 90%;
    margin: 1em auto 0;
    color: #eee;
    line-height: 40px;
    padding: 1em 2em 3em;
    font-size: 18px
}

/* Contact */
#Contact textarea{
    width: 100%;
    border: 1px solid #17a2b8;
}

.textarea1
{
    min-height: 300px;
    max-height: 300px;
}

.textarea2
{
    min-height: 210px;
    max-height: 210px;
}


form.register-wthree .form-control {
    background: #eee;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #0cc5b7;
    border-radius: 0;
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
}

/* footer */
#footer{
    background: url(../img/banner1.jpg) no-repeat;
    background-size: cover;
    background-position-y:2px; 
    position: relative;
    z-index: 0;
    padding: 4em 0;
    color: #fff;
}


#footer::before{
    content: '';
    background: rgba(0, 0, 0, 0.67);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#footer a{
    color: #fff;
}

#footer p{
    margin:  0 4rem 0 0;
    text-align: justify;
}

#footer h5{
    margin-bottom: 1.5em;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
}

.footerv4-social li{
    margin-right:1rem; 
    display: inline-block;
}

.footv4-left p {
    width: 80%;
}

.footerv4-social li span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

span.icon_twitter {
    background: #1da1f2;
}

span.icon_facebook {
    background: #3b5998;
}

span.icon_dribbble {
    background: #ea4c89;
}

span.icon_g_plus {
    background: #dd4b39;
}

.footv5-left span{
    color:  #0cc5b7;
}

/* tail */
#tail::after{
    content: "";
    display: block;
    width: 100%;
    height: 1.5vh;
}

#tail p{
    text-align: center;
    color: #fff;
}

/* to top */
#toTop{
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
}